.card-hover { transition: all 0.3s ease; }
.card-hover:hover { transform: translateY(-2px); box-shadow: 0 10px 25px rgba(0,0,0,0.1); }
.bg-primary { background-color: #0369A1; } 
.hover\:bg-primary-dark:hover { background-color: #075985; }
.status-badge {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    font-weight: 600;
}
.fade-in { animation: fadeIn 0.3s ease-in; }
@keyframes fadeIn { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }
#qrReader {
    width: 100%;
    height: 300px;
}
#qrReader__dashboard_section{
    display: none;
}
#sidebar {
    width: 16rem;
    z-index: 50;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.sidebar-nav-item {
    transition: all 0.2s;
    color: #4B5563;
    background-color: transparent;
    padding: 10px 12px;
}
.sidebar-nav-item:hover {
    color: var(--primary-dark); 
    background-color: #F3F4F6;
}
.sidebar-nav-item.active {
    color: var(--primary-color) !important; 
    background-color: var(--primary-light) !important; 
    font-weight: 600;
    border-left: 4px solid var(--primary-color);
    padding-left: 14px !important;
}