@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
body { 
    font-family: 'Inter', sans-serif; 
    background-color: var(--background-soft); 
    color: var(--text-base);
}

::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(128, 128, 128, 0.3);
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(128, 128, 128, 0.5);
}
:root {
    --primary-color: #1E40AF;
    --primary-light: #EFF6FF;
    --primary-dark: #1E3A8A;
    --background-soft: #F9FAFB;
    --text-base: #1F2937;
}